<h2>Agenda</h2>
<ul>
  <li>
    <h3>Einführung in Angular</h3>
    <ul>
      <li>
        <h4>Was ist Angular, was kann man mit dieser Technologie erreichen</h4>
      </li>
      <li>
        <h4>Vorgehen mit Angular</h4>
      </li>
    </ul>
  </li>
  <li>
    <h3>Routing in Angular</h3>
    <ul>
      <li>
        <h4>Interaktive Einführung in das Angular Routing</h4>
      </li>
    </ul>
  </li>
  <li>
    <h3>Bau von Komponenten</h3>
    <ul>
      <li>
        <h4>Praktisches interaktives Beispiel wie man Komponenten baut und kapselt</h4>
      </li>
      <li>
        <h4>Einbinden von verschiedenen Bindings (Two-Way-Binding & One-Way-Binding)</h4>
      </li>
      <li>
        <h4>Bau einer Komponente die mit einer anderen interagiert</h4>
      </li>
    </ul>
  </li>
  <li>
    <h3>Services in Angular</h3>
    <ul>
      <li>
        <h4>In welcher Situation nutzt man einen Service</h4>
      </li>
      <li>
        <h4>Anleitung wie ein Service am besten aufgebaut wird</h4>
      </li>
      <li>
        <h4>Einbinden eines Service in eine Komponente</h4>
      </li>
    </ul>
  </li>
  <li>
    <h3>Observables in Angular</h3>
    <ul>
      <li>
        <h4>Wie verwendet man Observables am besten</h4>
      </li>
      <li>
        <h4>Welche Probleme lassen sich mit Observables lösen</h4>
      </li>
    </ul>
  </li>
  <li>
    <h3>Routing in Angular deep dive</h3>
    <ul>
      <li>
        <h4>Router -deep dive was kann man noch mit dem Angular Routing erreichen</h4>
      </li>
    </ul>
  </li>
</ul>
