<div>
  <h3>Wie lange noch bis Feierabend</h3>
  <p>
    <label>Bitte geben Sie den Beginn ihrer Arbeitszeit an</label><br />
    <p-calendar [(ngModel)]="myStartTime" [timeOnly]="true" [readonlyInput]="true"></p-calendar><br />
    <label>Bitte geben Sie die Arbeitszeit an</label><br />
    <input type="number" pInputNumber [(ngModel)]="workTime" /><br />
    <button (click)="calculateWorkTimeLeft()">Berechnen</button><br />
    <b *ngIf="workTimeLeft && workTimeLeft > 0">Sie müssen noch {{ getWorktimeAsDate()| number : '1.2-2' }}
      Stunden arbeiten.</b>
    <b *ngIf="workTimeLeft && workTimeLeft!=null && workTimeLeft <= 0">Sie müssen heute nicht mehr
      arbeiten.</b>
    <b *ngIf="workTimeLeft==null">Bitte geben sie die Daten ein.</b>
  </p>
</div>
