<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Wilkommen beim Angular Workshop 2020
  </h1>
</div>
<div><button pButton type="button" label="{{auxOpen? 'Agenda schließen':'Agenda öffnen'}}" class="ui-button-rounded"
    (click)="handleAgenda()"></button></div>
<div class="flex-container">
  <div class="flex-item">
    <router-outlet></router-outlet>
  </div>
  <div class="flex-item">
    <router-outlet name="aux"></router-outlet>
  </div>
</div>
